
.post{
    background-color: rgb(59, 59, 59);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    max-height: 300px;
    overflow-y: hidden;
}


.vote{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-right: 20px;
}

.post-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post_info{
    display: flex;
    justify-content:flex-start;
    align-items: center;

}
.subreddit_name{
    font-weight:bolder;
    font-size: 17px;
    margin-right: 10px;
    font-family: 'Open Sans', sans-serif;
}

.username{
    font-size: 14px;
    color: rgb(216, 216, 216);
    font-family: 'Open Sans', sans-serif;
}
.upvoted {
    color: rgb(245, 80, 39);
}
.vote i{
    cursor: pointer;
}
.bi{
    font-size: 20px;
}
.downvoted {
    color: rgb(49, 156, 214);
}

#vote_error{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 80px;
    margin-right: 20px;
    visibility:hidden;
    color: aliceblue;
    background-color: rgb(248, 113, 60);
    padding: 10px;
    border-radius: 10px;
}

#vote_error i{
    margin-right: 5px;
}