<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .upvoted {
            color: rgb(228, 65, 24);
        }

        .downvoted {
            color: rgb(49, 156, 214);
        }
    </style>
</head>
<body>
    <header></header>
    <div id="posts">
    </div>
</body>
<script type="module" src="../js/components/header.js"></script>
<script type="module" src="../js/controllers/home.js"></script>
</html>